<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGfZPy16vJAJyzw6Tw_HOMHF_s8ijYXJE</string>
	<key>GCM_SENDER_ID</key>
	<string>893158816408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadRescueApp</string>
	<key>PROJECT_ID</key>
	<string>road-rescue-app-sdd</string>
	<key>STORAGE_BUCKET</key>
	<string>road-rescue-app-sdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893158816408:ios:518792e96fc92c36e9eeed</string>
</dict>
</plist>